:root {
    --cl-primary: #3851A3;
    --cl-primary2: rgba(56, 81, 163, 0.2);
    --cl-danger: #F15C61;
    --cl-success: #3FBEB2;
    --cl-secondary: #878F9D;
}

.hand-cursor {
    cursor: pointer !important;
}

.rl-nepali-datepicker-icon{
    width: 16px;
    filter: invert(59%) sepia(19%) saturate(232%) hue-rotate(179deg) brightness(93%) contrast(86%)
}
.rl-nepali-datepicker-wrapper {
    position: relative;
    /* width: fit-content; */
  
}

.rl-nepali-datepicker-input {
   
}
.popovercalendar .ant-popover-inner-content{
    padding: 0px;
}
.today-btn{
    color: var(--cl-primary);
    font-weight: 600;
}
.rl-nepali-datepicker-content{
    position: absolute;
    z-index: 4;
    box-shadow: 0px 4px 10px rgba(19, 31, 54, 0.25);
    background-color: white;
    top: 24px;
    right: 0px;
}
.rl-nepali-datepicker-wrapper ul {
    list-style-type: none;
}

.rl-nepali-date-panel {
    width: 320px;
    z-index: 4;
}

.rl-nepali-date-body {
    padding: 8px 12px;
}

.rl-nepali-date-panel .left-actions div, .rl-nepali-date-panel .right-actions div {
    color: #ddd;
}

.rl-nepali-date-panel .left-actions div:hover, .rl-nepali-date-panel .right-actions div:hover {
    color: white;
}

.rl-nepali-date-panel .rl-nepalo-date-body {
    padding: 8px 12px;
}

/* Month header */

.month-header {
    /* width: 100%; */
    background: var(--cl-primary);
    text-align: center;
    padding: 12px 8px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.month-header .left-actions, .month-header .right-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.month-header .left-actions :first-child, .month-header .right-actions :first-child {
    margin-right: 12px;
}

.rl-nepali-date-content {
    width: 100%;
}
.rl-nepali-date-content thead th{
    font-size: 12px;
}

.rl-nepali-date-content th, .rl-nepali-date-content td {
    color: black;
    font-weight: 400;
}

.rl-picker-cell {
    /* border-radius: 2px; */
    padding: 2px;
    cursor: pointer;
}

.rl-picker-cell .rl-picker-cell-inner {
    position: relative;
    /* z-index: 2; */
    margin: auto;
    min-width: 30px;
    width: inherit;
    text-align: center;
    height: 30px;
    line-height: 100%;
    border-radius: 2px;
    -webkit-transition: background .3s, border .3s;
    transition: background .3s, border .3s;
    font-size: 14;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rl-picker-cell .rl-picker-cell-inner .BS{
    font-size: 14px;
}
.rl-picker-cell .rl-picker-cell-inner .AD{
   position: absolute;
   right: 2px;
   bottom: 0px;
   font-size: 7px;
}

.rl-picker-cell:not(.disabled):hover .rl-picker-cell-inner {
    background-color: var(--cl-primary2);
}

.rl-picker-cell:not(.disabled).active .rl-picker-cell-inner {
    background-color: var(--cl-primary);
    color: white;
}

.rl-picker-cell:not(.disabled).today .rl-picker-cell-inner {
    border-color: var(--cl-primary);
    border: 1px solid;
}

.rl-picker-cell:not(.disabled).other-month .rl-picker-cell-inner {
    color: rgba(0, 0, 0, .4);
    /* background-color:var(--cl-secondary) ; */
}
.rl-picker-cell.disabled{
    color: var(--cl-secondary);
    cursor: not-allowed;
    background-color: #ddd;
}

/* INLINE DROPDOWN CSS START*/

.inline-dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: left;
}

.inline-dropdown:focus { pointer-events:none; }
.inline-dropdown:focus .inline-dropdown-container{ opacity:1; visibility:visible; }
.inline-dropdown-container {
    width: auto;
    margin:3px 0 0 0;
    padding: 10px;
    border-radius:3px;
    border-radius:3px;
    pointer-events: auto;
    position: absolute;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s;
    height: 200px;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(19, 31, 54, 0.25);
    border-radius: 4px;
    color: black;
}
.inline-dropdown-container  .inline-dropdown-item{
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}

.inline-dropdown-container  .inline-dropdown-item:hover{
    background-color: var(--cl-primary2);
}

.inline-dropdown-container  .inline-dropdown-item.selected{
    background-color: var(--cl-primary);
    color: white;
}
/* INLINE DROPDOWN CSS END */


.rl-range-calendar{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}