.nepali-date-picker
  .calender
  .calendar-controller
  .control
  .drop-down::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #ccc;
}
.nepali-date-picker .calender .calendar-controller .control .drop-down {
  scrollbar-width: thin;
}

.react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #2fcc69;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "\00d7";
}

.nepali__date__picker__container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.nepali__date__picker__input__button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0px 6px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.nepali__date__picker__input__button::after {
  cursor: pointer;
  background-color: #2fcc69;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "\00d7";
}

.nepali_date_disable_remover_hack {
  // position: absolute;
  // top: -42px;
  // opacity: 0 !important;
}
